
name: CI

# Run tests on pull requests and when changes are directly
# commited to master.
on:
  push:
    branches: [ master ]
  pull_request:
    branches:
      - master
      # run the CI also on PRs that are based on branches starting with pr/...
      - 'pr/**'
  schedule:
    - cron: 1 1 * * *
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

jobs:
  # Determine the latest go versions
  go-versions:
    runs-on: ubuntu-latest
    steps:
    - id: go-versions
      run: |
        curl -s 'https://go.dev/dl/?mode=json' -o go-latest.json
        curl -s 'https://go.dev/dl/?mode=json&include=all' -o go-all.json

        LATEST=$(jq -r '.[0]|.version' go-latest.json)
        PREV=$(jq -r '.[1]|.version' go-latest.json)
        UNSTABLE=$(jq -r '.[0]|.version' go-all.json)

        echo "latest=${LATEST#go}" >> $GITHUB_OUTPUT
        echo "prev=${PREV#go}" >> $GITHUB_OUTPUT
        echo "unstable=${UNSTABLE#go}" >> $GITHUB_OUTPUT
    outputs:
      latest: ${{ steps.go-versions.outputs.latest }}
      prev: ${{ steps.go-versions.outputs.prev }}
      unstable: ${{ steps.go-versions.outputs.unstable }}

  # Run static/code-quality checks
  check:
    needs: go-versions
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b
      with:
        go-version: ${{ needs.go-versions.outputs.latest }}
    - name: Install revive
      run: go install github.com/mgechev/revive@latest
    - name: Run checks
      run: make check

  # Run the test suite in a container per-ceph-codename
  test-suite:
    name: test-suite (${{ matrix.ceph_version }}${{ matrix.go_version != needs.go-versions.outputs.latest && format(', go{0}', matrix.go_version) || '' }})
    needs: go-versions
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ceph_version:
      #   - "octopus"
      #   - "pacific"
      #   - "quincy"
      #   - "reef"
      #   - "squid"
      # # - "tentacle"
        - "pre-reef"
      #   - "pre-squid"
      #   - "pre-tentacle"
        - "main"
        go_version:
        - ${{ needs.go-versions.outputs.latest }}
        # include:
        # - ceph_version: "squid"
        #   go_version: ${{ needs.go-versions.outputs.prev }}
        # - ceph_version: "squid"
        #   go_version: ${{ needs.go-versions.outputs.unstable }}
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    - name: Set cores to get stored as "core"
      run:  sudo bash -c 'echo "core" > /proc/sys/kernel/core_pattern'
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
      with:
        detached: true
    - name: Run tests
      run: make test-containers-test "CEPH_VERSION=${{ matrix.ceph_version }}" "GO_VERSION=${{ matrix.go_version }}" "RESULTS_DIR=$PWD/_results"
    # As an example, one can enable tmate debugging of manually-triggered
    # workflows if the input option was provided
